{% extends '_main.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block stylesheets %}
{{ parent() }}
{{ encore_entry_link_tags('security') }}
{% endblock %}


{% block body %}

    {{ form_start(form, {attr: {class: 'needs-validation form-signin text-center'} }) }}

      <img class="mb-4" src="{{ asset('assets/img/logo/kinderkoor.svg') }}" alt="" height="200">

      {% include 'modules/alerts.html.twig' %}

      <h1 class="h3 mb-3 text-secondary">{{title}}</h1>
      {{ form_widget(form) }}

      {% if password_requirements is defined %}
        <small class="text-left">{{password_requirements.length}}<ul>
        {% for detail in password_requirements.details %}
          <li>{{detail}}</li>
        {% endfor %}
        </ul></small>
      {% endif %}

      <button class="btn btn-lg btn-primary btn-block mt-3" type="submit">{{submit}}</button>

    {{ form_end(form) }}

{% endblock %}


{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags('form_default') }}
{% endblock %}
