{% include 'emails/_style.html.twig' %}

<p>Hallo {{name}}!</p>

<p>Gelieve je email adres te bevestigen van jouw HoZT-account op <a href="{{absolute_url('/')}}">https://www.hozt.be</a>.</p>

<p><a href="{{absolute_url(link)}}">Bevestig je email adres</a></p>

<p>Je kan vanaf nu inloggen met dit email adres. Heb je nog geen wachtwoord? Dan kan je een <a href="{{absolute_url( path('security_forgot_password') )}}">nieuw wachtwoord aanvragen</a>.</p>

<p>Als je dit verzoek niet hebt uitgevoerd, neem dan contact op met de <a href="mailto:{{webmaster}}">webmaster</a>.</p>

<p class="small text-muted">Je ontvangt deze e-mail vanwege je account op <a href="{{absolute_url('/')}}">hozt.be</a>.</p>
