{# templates/emails/contactformulier.html.twig #}

{% include 'emails/_style.html.twig' %}

<p class="text-primary"><strong>{{question}}:</strong></p>

<p>{{ message }}</p>

<p>{{ name }}<br>{{ email }}</p>

<p class="small text-muted">** Dit is een automatisch bericht van <a href="{{absolute_url('')}}">HoZT.be</a> **</p>
