
<div class="bg-info text-center text-light p-2 mt-4"></div>

<footer class="container pb-4 pt-4 mt-2 text-muted d-print-none">
  <div class="row align-items-center">
    <div class="col col-12 col-lg-6">
      <div class="pl-3">Kinderkoor Jubilate Hoogstraten <i class="far fa-copyright"></i> {{ "now"|date("Y") }}</div>
      <nav class="nav nav-underline">
        <a class="nav-link text-info" href="/huishoudelijk-reglement">Huishoudelijk Reglement</a>
        <a class="nav-link text-info" href="{{ path('contact_faq') }}">FAQ</a>
        <a class="nav-link text-info" href="/privacy">Privacy</a>
        <a class="nav-link text-muted small mt-1" href="https://www.steps4it.be"><i class="fas fa-code"></i> STEPS4it</a>
      </nav>

    </div>
    <div class="col col-12 col-md-4 col-lg-2 text-center">
      <a href="https://www.koorenstem.be" target="_Blank"><img class="m-3" src="{{ asset('assets/img/logo/koor-en-stem.jpg') }}" alt="Kinderkoor Jubilate" height="64"></a>
    </div>
    <div class="col col-12 col-md-4 col-lg-2 text-center">
      <a href="https://www.hoogstraten.be" target="_Blank"><img class="m-3" src="{{ asset('assets/img/logo/hoogstraten.png') }}" alt="Kinderkoor Jubilate" height="64"></a>
    </div>
    <div class="col col-12 col-md-4 col-lg-2 text-center">
      <a href="/"><img class="m-3" src="{{ asset('assets/img/logo/kinderkoor.svg') }}" alt="Kinderkoor Jubilate" height="96"></a>
    </div>
  </div>
</footer>
